<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Posts</title>
</head>
<body>
    
        <%- include('./partials/navbar.ejs') %>
    
    <div class="body-container">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <section class="entry">
                    <div class="entry-topbar">
                        <div>
                            <img src="images/me.png" alt="Me">
                        </div>
                        <div class="entry-datetext">
                            <p id="date">
                                <%= post.created_at %>
                            </p>
                        </div>
                    </div>
                    <% if (post.imageurl != null){ %>
                        <img src=<%= post.imageurl %> >
                    <% } %>
                    
                    
                    <div class="entry-title">
                        <p>
                            <%= post.title %>
                        </p>
                    </div>
                    <div class="entry-text">
                        <p>
                            <%= post.body %>
                        </p>
                    </div>
                    <div class="entry-react">
                        <img src="images/like-icon-png-0.jpg" alt="I like it!">
                    </div>
                </section>
            <% }) %>
        <% } else { %>
            <p>You did not post anything...</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>